PORT=3000
NODE_ENV=development
COMPANY_NAME=PT. DSTech Smart Perkasa
COMPANY_EMAIL=info@dstechsmartperkasa.com
COMPANY_PHONE=+62-XXX-XXX-XXXX
COMPANY_ADDRESS=Address Here
MAPS_API_KEY=your_maps_api_key_here